.about-title {
  padding: 18% 10% 4% 10%;


  h1 {
    margin: 0;
    font-size: 4.5vw;
    color: #cd2628;
    line-height: 45px;
    font-weight: 500;

    span {
      letter-spacing: 1px;
      font-size: 1.8vw;
    }
  }
}

.about-sec-1 {
  padding: 2% 10% 4% 10%;
  border-bottom: 30px solid#ed1c24;
  margin-bottom: 1%;

  .about-sec-1-area {
    background: #cd2628;
    padding: 7% 5%;

    h2 {
      margin: 0;
      color: white;
      font-size: 2vw;
    }

    p {
      padding-top: 3%;
      margin: 0;
      color: white;
      font-size: 1.7vw;
      font-weight: 400;
    }
  }
}

.about-sec-2 {
  .about-sec-2-area {
    border-top: 13px solid#ed1c24;
    padding: 7% 6%;

    .about-content-area {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      &.red-bg {
        padding: 2% 5%;
        background: #cd2628;
        color: white;
      }

      &.gray-bg {
        padding: 2% 5%;
        background: #e8e8e8;
        color: black;
      }

      .about-title-area {
        flex-basis: 25%;

        h1 {
          font-size: 2vw;
          margin: 0;

        }
      }

      .about-desc-area {
        flex-basis: 75%;

        h1 {
          font-size: 2vw;
          margin: 0;
          font-weight: 300;
        }
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .about-title {
    padding: 7% 6% 4% 6%;

    h1 {
      margin: 0;
      font-size: 4.5vw;
      color: #cd2628;
      line-height: 45px;
      font-weight: 500;

      span {
        letter-spacing: 1px;
        font-size: 1.8vw;
      }
    }
  }
}


@media only screen and (max-width: 700px) {

  .about-title {
    padding: 4% 6% 4% 6%;

    h1 {
      margin: 0;
      font-size: 6vw;
      color: #cd2628;
      line-height: 30px;
      font-weight: 500;

      span {
        letter-spacing: 1px;
        font-size: 3vw;
      }
    }
  }

  .about-sec-1 {
    padding: 2% 6% 4% 6%;
    border-bottom: 25px solid#ed1c24;
    margin-bottom: 1%;

    .about-sec-1-area {
      background: #cd2628;
      padding: 7% 5%;

      h2 {
        margin: 0;
        color: white;
        font-size: 4vw;
      }

      p {
        padding-top: 3%;
        margin: 0;
        color: white;
        font-size: 3.5vw;
        font-weight: 400;
      }
    }
  }

  .about-sec-2 {
    .about-sec-2-area {
      border-top: 10px solid#ed1c24;
      padding: 4% 6%;

      .about-content-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &.red-bg {
          padding: 2% 5%;
          background: #cd2628;
          color: white;
        }

        &.gray-bg {
          padding: 2% 5%;
          background: #e8e8e8;
          color: black;
        }

        .about-title-area {
          flex-basis: 25%;

          h1 {
            font-size: 3.9vw;
            margin: 0;

          }
        }

        .about-desc-area {
          flex-basis: 75%;

          h1 {
            font-size: 3.7vw;
            margin: 0;
            font-weight: 300;
          }
        }
      }
    }
  }
}